NEXT_PUBLIC_SUPABASE_URL=https://ehewwrdolluzfviobpra.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoZXd3cmRvbGx1emZ2aW9icHJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDQ4ODIsImV4cCI6MjA4ODkyMDg4Mn0.5dyr-tz7LfPBAcLb_IgjWkf35qPa_HBssjB2fn1iw5s
